$primary-color: #007878;
$color-white: #fff;
$color: #aaaaaa;
$color-2e2e: #2e2e2e;
$color-black: #000000;
$color-bg: #ffe2e0;
$color-gry: #273142;
$color-pink: #df4244;
$color-buton: #206363;
$color-card-bg: #f5f5f5;
$color-gry-two: #363636;
$color-footer-bg: #f7f7f9;
$color-black-75: #212121;
$color-border: #273142;
$colur-back:#FFF7F7;