*{
  list-style: none !important;
}
#header {
  background-color: $primary-color;
  padding: 1rem 0;
  .header {
    @include flexbox();
    display: flex;
    .fa-solid {
      margin-right: 10px;
      color: $color-white;
    }
    .phone {
      color: $color-white;
    }
    nav {
      ul {
        display: flex;
        gap: 5px;
        text-decoration: none;
        list-style: none;
      
        li {
          
             .bord{
            border-left: 2px solid white;
            border-right: 2px solid white;
            padding: 6px;
          }

       
          a {
        font-size: 18px;
            color: $color-white;
            transition: all 1s;
            cursor: pointer;
         
            &:hover {
             color: pink;
            
            }
          }
        }
     
      }
    }
  }
}
