* {
  list-style: none !important;
}
#section-four {
  padding: 2.5rem 0;

  .section-four {
    @include flexbox();
    gap: 30px;
    .card {
      background-color: $color-card-bg;
      width: 100% !important;
      transition: 0.3s;
      .card:hover {
        display: none;
        transform: translateY(10px);
        box-shadow: 5px 5px 5px 0px grey;
      }

      h3 {
        margin: 20px;
        font-size: 2rem;
        align-items: center;
      }
      img {
        width: 163px;
        height: 80px;
        align-items: center;
      }
    }
  }
  .products {
    padding: 1.5rem 0;
    h2 {
      padding: 30px 0;
    }
    .products-container {
      display: flex;
      gap: 30px;
      .card {
        padding: 3%;
        justify-content: space-between;
        row-gap: 1rem;
        width: 100%;
        display: flex;
      
        border-radius: 5px;
      }
      .stars {
        img {
          width: 100px;
          height: 50px;
        }
      }
      img {
        width: 200px;
        height: 200px;
      }
    }
    .herom {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    img {
      width: 220px;
      height: 260px;
    }

    .alma a {
      position: relative;
      background: $color-white;
      color: rgb(6, 6, 6);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      font-weight: 400;
      padding: 5px 30px;
      transition: 0.5s;
      border: 1px solid black;
    }
    .alma a:hover {
      background: var(--clr);
      color: white;
      letter-spacing: 0.25em;
      box-shadow: 0 0 35px var(--clr);
      border: none;
    }
    .alma a::before {
      content: "";
      position: absolute;
      inset: 2px;
      background-color: transparent;
    }
    .alma a span {
      position: relative;
      z-index: 1;
    }
    .alma a i {
      position: absolute;
      inset: 0;
      display: block;
    }
    .alma a i::before {
      content: "";
      position: absolute;
      top: 0;
      left: 80%;
      width: 10px;
      height: 4px;
      background: $color-white;
      transform: translate(-50%) skew(325deg);
      transition: 0.5s;
    }
    .alma a:hover i::before {
      width: 20px;
      left: 20%;
    }
    .alma a i::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20%;
      width: 10px;
      height: 4px;
      background: $color-white;
      transform: translate(-50%) skew(325deg);
      transition: 0.5s;
    }
    .alma a:hover i::after {
      width: 20px;
      left: 80%;
    }

    .alma a {
      position: relative;
      background: $color-white;
      color: rgb(6, 6, 6);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      font-weight: 400;
      padding: 5px 30px;
      transition: 0.5s;
      border: 1px solid black;
    }
    .alma a:hover {
      background: var(--clr);
      color: white;
      letter-spacing: 0.25em;
      box-shadow: 0 0 35px var(--clr);
      border: none;
    }
    .alma a::before {
      content: "";
      position: absolute;
      inset: 2px;
      background-color: transparent;
    }
    .alma a span {
      position: relative;
      z-index: 1;
    }
    .alma a i {
      position: absolute;
      inset: 0;
      display: block;
    }
    .alma a i::before {
      content: "";
      position: absolute;
      top: 0;
      left: 80%;
      width: 10px;
      height: 4px;
      background: $color-white;
      transform: translate(-50%) skew(325deg);
      transition: 0.5s;
    }
    .alma a:hover i::before {
      width: 20px;
      left: 20%;
    }
    .alma a i::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20%;
      width: 10px;
      height: 4px;
      background: $color-white;
      transform: translate(-50%) skew(325deg);
      transition: 0.5s;
    }
    .alma a:hover i::after {
      width: 20px;
      left: 80%;
    }

    .button {
      top: 0px;
    }
    .fa-heart {
      color: $color-pink;
    }
    .lorem {
      width: 302px;
      line-height: 27.2px;
    }
    .card-from {
      margin-top: 15px;
      display: flex;
      gap: 15px;
      .dollars {
        color: $color-pink;
        font-weight: 600;
        font-size: 20px;
      }
      h6 {
        color: $color-gry-two;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-four {
    flex-direction: column;
    align-items: center;
    width: 100%;
    .card {
      width: 100% !important ;
      align-items: center;
    }
  }
  .products {
    h2 {
      display: none;
    }
    .products-container {
      flex-direction: column;
      align-items: center !important;
      .card {
        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
        .lorem {
          align-items: center !important;
          justify-content: center !important;
        }
      }
    }
  }
}
