*{
  list-style: none !important;
}
#section-four {
  padding: 2.5rem 0;

  .products-head {
    padding: 1.5rem 0;
    h2 {
      
      padding: 30px 0;
    }
    .products-container-three {
      display: flex;
      gap: 30px;
      .card {
        width: 40%;
        position: relative;
        border-radius: 5px;
        padding: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
        
        .stars{
          img{
            width: 100px;
            height: 50px;
          }
        }
        .herom {
          display: flex;
          align-items: start;
          justify-content: space-between;
          .buttons {
            background-color: rgb(255, 0, 60);
            color: white;
            border: 2px solid rgb(255, 0, 60);
            border-radius: 10px;
            padding: 3px 10px;
          }
        }
        img {
          width: 200px;
          height: 200px;
        }
        .alma a {
          position: relative;
          background: $color-white;
          color: rgb(6, 6, 6);
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.5em;
          letter-spacing: 0.1em;
          font-weight: 400;
          padding: 5px 30px;
          transition: 0.5s;
          border: 1px solid black;
        }
        .alma a:hover {
          background: var(--clr);
          color: white;
          letter-spacing: 0.25em;
          box-shadow: 0 0 35px var(--clr);
          border: none;
        }
        .alma a::before {
          content: "";
          position: absolute;
          inset: 2px;
          background-color: transparent;
        }
        .alma a span {
          position: relative;
          z-index: 1;
        }
        .alma a i {
          position: absolute;
          inset: 0;
          display: block;
        }
        .alma a i::before {
          content: "";
          position: absolute;
          top: 0;
          left: 80%;
          width: 10px;
          height: 4px;
          background: $color-white;
          transform: translate(-50%) skew(325deg);
          transition: 0.5s;
        }
        .alma a:hover i::before {
          width: 20px;
          left: 20%;
        }
        .alma a i::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 20%;
          width: 10px;
          height: 4px;
          background: $color-white;
          transform: translate(-50%) skew(325deg);
          transition: 0.5s;
        }
        .alma a:hover i::after {
          width: 20px;
          left: 80%;
        }

        .button {
          top: 0px;
        }
        .fa-heart {
          top: 0px;
        }
        .lorem {
          width: 302px;
          line-height: 27.2px;
        }
        .card-from {
          margin-top: 15px;
          display: flex;
          gap: 15px;
          .dollars {
            color: $color-pink;
            font-weight: 600;
            font-size: 20px;
          }
          h6 {
            color: $color-gry-two;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .products-head {
      h2 {
        display: none;
      }
      .products-container-three {
        flex-direction: column;
        align-items: center;
        .card{
          width: 100%;
          .lorem{
            align-items: center !important;
            justify-content: center !important;
          }
        }
      }
    }
  }
}
